# Finding Opportunity Stocks

### Installing Modules

In [2]:
!pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from -r requirements.txt (line 1)) (1.3.1)
Requirement already satisfied: numpy in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from -r requirements.txt (line 2)) (1.21.1)
Requirement already satisfied: matplotlib in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from -r requirements.txt (line 3)) (3.4.3)
Requirement already satisfied: yfinance in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from -r requirements.txt (line 4)) (0.1.69)
Requirement already satisfied: yahoofinancials in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from -r requirements.txt (line 5)) (1.6)
Requirement already satisfied: wget in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from -r requirements.txt (line 6)) (3.2)
Requirement already satisfied: forex-python in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from -r requirements.txt (line 7)) (1.8)
Requirement already satisfied: pytz>=2017.3 in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas->-r requirements.txt (line 1)) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from matplotlib->-r requirements.txt (line 3)) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from matplotlib->-r requirements.txt (line 3)) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from matplotlib->-r requirements.txt (line 3)) (1.3.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from matplotlib->-r requirements.txt (line 3)) (8.3.2)
Requirement already satisfied: lxml>=4.5.1 in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from yfinance->-r requirements.txt (line 4)) (4.7.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from yfinance->-r requirements.txt (line 4)) (0.0.10)
Requirement already satisfied: requests>=2.26 in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from yfinance->-r requirements.txt (line 4)) (2.27.1)
Requirement already satisfied: beautifulsoup4 in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from yahoofinancials->-r requirements.txt (line 5)) (4.10.0)
Requirement already satisfied: simplejson in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from forex-python->-r requirements.txt (line 7)) (3.17.6)
Requirement already satisfied: six in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from cycler>=0.10->matplotlib->-r requirements.txt (line 3)) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from requests>=2.26->yfinance->-r requirements.txt (line 4)) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from requests>=2.26->yfinance->-r requirements.txt (line 4)) (1.26.5)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from requests>=2.26->yfinance->-r requirements.txt (line 4)) (2020.12.5)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from requests>=2.26->yfinance->-r requirements.txt (line 4)) (2.0.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\adgru\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from beautifulsoup4->yahoofinancials->-r requirements.txt (line 5)) (2.2.1)

### Importing Modules

In [3]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials
import pandas as pd
import numpy as np
from forex_python.converter import CurrencyRates
import os, sys

### Reading JSECode for Stonk

In [4]:
StonkCodes = pd.read_csv('StonkCodes.csv')
StonkCodes

    Code                      Company
0    PRX                 Prosus N.V.
1    ANH        Anheuser-Busch Inbev
2    BTI    British American Tobacco
3    GLN                Glencore plc
4    CFR     Compagnie Fin Richemont
..   ...                          ...
337  IDQ     Indequity Group Limited
338  KDV        Kaydav Group Limited
339  MZR         Mazor Group Limited
340  MLE  Mettle Investments Limited
341  MNK    Montauk Holdings Limited

[342 rows x 2 columns]

### App Functions

In [4]:
class HiddenPrints:
    def __enter__(self):
        self._original_stdout = sys.stdout
        sys.stdout = open(os.devnull, 'w')

    def __exit__(self, exc_type, exc_val, exc_tb):
        sys.stdout.close()
        sys.stdout = self._original_stdout

def GetStockHistory(Code):
    df = yf.download(Code)
    return df

def EvaluateStock(StockCode):
    with HiddenPrints():
       data = GetStockHistory(StockCode)
    min = data['Close'].min()
    max = data['Close'].max()
    current = data['Close'].iloc[-1]
    return ('Could achieve '+str(round((1- (current/max)) * 100, 2)) + '% Growth from ' + str(current) + ' ZAR per share to ' + str(max) + ' ZAR per share')

In [6]:
GetStockHistory('TON.JO')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-04,4066.684082,4066.684082,3996.163574,3996.163574,1829.829712,183560
2000-01-05,3917.807617,4011.834961,3882.547119,3902.136230,1786.774658,117768
2000-01-06,3839.451416,3839.451416,3721.916992,3725.834961,1706.046387,106109
2000-01-07,3761.095215,3917.807617,3761.095215,3761.095215,1722.193237,206864
2000-01-10,3902.136230,3996.163574,3862.958252,3862.958252,1768.835327,141350
...,...,...,...,...,...,...
2022-01-24,500.000000,500.000000,485.000000,487.000000,487.000000,220045
2022-01-25,499.000000,498.000000,475.000000,475.000000,475.000000,388282
2022-01-26,475.000000,489.000000,471.000000,479.000000,479.000000,67817
2022-01-27,485.000000,490.000000,461.000000,467.000000,467.000000,129986
2022-01-28,475.000000,475.000000,445.000000,450.000000,450.000000,243373

In [7]:
EvaluateStock('AAPL')

'Could achieve 6.42% Growth from 2658.5427220612205 ZAR per share to 2840.8462457394853 ZAR per share'